
/* .logo{
    font-size: 70px;
    color: rgb(3, 3, 126);
    margin-right:50px ;
}


.navbars{
    padding-top: 30px;
}
.navbar{
    text-decoration: none;
    color: black;
}
.navbar:hover{
    color:rgb(3, 3, 126) ;
}
 */

.menu{
    display: flex;
    
    
}

.logo{
    font-size: 70px;
    color: rgb(3, 3, 126);
    margin-right:50px ;
}


.navbars> ul {
    display: flex;

}

.navbars > ul >li{
    
    list-style: none;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.navbars > ul >li>h4>a{
    text-decoration: none;
   color: black;
}

/* .navbar :hover{
    color: rgb(203, 203, 224);
} */

.navbars > ul >li >.navbars >.container-fluid {
    display: flex;
}



.future_product{
    margin: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.future_product> h2{
    margin-left: 10px;
}

.future_product> .navbar{
    margin-right: 20px;
}
.future_product> .navbar .form-control{
    border: 3px solid gray;
}

.products{
    padding: 20px;
    padding-top: 0px;
}
.product{
    margin-right: 20px;
    border-radius: 5px;

    box-shadow: 5px 5px 5px 5px gray;
}

.product> .card{
    border: none;
}
.product> .card> img{
    /* border-radius: 5px; */
    padding: 10px;
}


.container> .img-fluid{
    margin: 10px;
    border-radius: 20px;
}



.footer{
    margin-top: 20px;
    border-top: 3px solid black;
}